    .head {
        height: 98px;
        overflow: hidden;
        margin: 0 auto;
        width: 1000px;
        box-sizing: border-box;

        .logo {
            float: left;
            margin-left: 10px;
        }
    }

    .reg {
        margin: 0 auto;
        width: 1000px;
        position: relative;
        background: url(../img/reglogin/reg.png) no-repeat right bottom;
        min-height: 350px;
        color: #5e5e5e;
        border: #e6e6e6 1px solid;
        border-top: #0083ce 2px solid;
        box-shadow: -1px 1px 10px #efefef, -1px 10px 10px #efefef;
        padding-bottom: 20px;

        .saoma {
            outline-style: none;
            position: absolute;
            right: 0px;
            bottom: 0px;
            text-indent: -9999px;
            display: block;
            width: 500px;
            height: 372px;
        }

        .reg_title {
            font-size: 20px;
            margin: 13px 0;
            padding-left: 50px;
            padding-right: 18px;

            span {
                float: right;
                font-size: 12px;
                margin-top: 7px;

                .blue_login {
                    color: #0083ce;

                    &:hover {
                        cursor: pointer;
                        text-decoration: underline;
                    }
                }
            }
        }

        .reg_form {
            padding-left: 100px;
            padding-top: 5px;

            .two_week {
                line-height: 12px;
            }

            span {
                line-height: 24px;
                color: #a5a5a5;

                a {
                    color: #0083ce;
                }
            }

            .reg_row {
                height: 70px;
                width: 342px;

                .error {
                    color: #e72418;
                    padding-top: 5px;
                }

                .empty {
                    border: #ffaa00 1px solid;
                }

                li {
                    float: left;
                    height: 14px;
                    line-height: 14px;
                    padding: 0 9px;
                    border-right: 1px solid #fff;
                    color: #fff;
                }

                .checkbox {
                    display: block;
                    min-height: 20px;
                    margin-top: 0px;
                    margin-bottom: 6px;
                }

            }

            .reg_capslock {
                margin-top: -30px;
                margin-bottom: 10px;
                width: 338px;
                background-color: #ffffe5;
                border: 1px solid #fadd87;
                color: #f60;
                position: relative;

                .capsLock_i {
                    background: url(../img/reglogin/regest.png) no-repeat 5px -50px;
                    display: inline-block;
                    height: 30px;
                    margin-right: 10px;
                    vertical-align: middle;
                    width: 20px;
                }

                .capsLock_s {
                    background: url(../img/reglogin/ia_10004.png) no-repeat -15px -62px;
                    bottom: -9px;
                    height: 9px;
                    left: 38px;
                    position: absolute;
                    width: 15px;
                }
            }
        }
    }

    .tellnumber,
    .u_ps,
    .u_name,
    .u_email,
    .i_empty,
    .i_true,
    .i_false {
        background: url(../img/reglogin/regest.png) no-repeat 0 0;
    }

    .i_empty,
    .i_true,
    .i_false {
        height: 16px;
        width: auto;
        float: right;
        padding-right: 25px;
        margin-top: -28px;
    }

    .input {
        display: block;
        width: 286px;
        height: 26px;
        padding: 6px 12px 6px 40px;
        font-size: 14px;
        line-height: 18px;
        background-color: transparent;
        border: 1px solid #e6e6e6;

        &:focus {
            border-color: #0083ce;
        }

    }

    .u_name {
        background-position: 8px -114px;
    }

    .u_ps {
        background-position: 8px -145px;
    }

    .u_ps2 {
        background-color: #f3f3f3;
    }

    .u_verify {
        width: 150px;
        margin-right: 10px;
        padding-left: 9px;
        padding-right: 9px;
        float: left;
    }

    .i_empty {
        background-position: right -57px;
    }


    .i_false {
        background-position: right -26px;
    }

    .i_true {
        background-position: right 2px;
    }

    .safe {
        float: right;
        line-height: 24px;
        color: #a5a5a5;
    }

    .pas_safe ul {
        margin-top: 6px;
        margin-left: 6px;
        float: right;
        background: #fff url(../img/reglogin/safe.png) no-repeat 0 0;
    }

    .verify_box .i_true,
    .verify_box .i_false {
        float: left;
        margin-left: -34px;
        margin-top: 12px;
    }

    .verify {
        width: 100px;
        height: 40px;
        margin-left: 10px;
        float: left;
    }

    .verifylink {
        float: left;
        margin-left: 10px;
        line-height: 40px;
        color: #0083ce;
    }

    .btn_verify {
        width: 120px;
        height: 38px;
        text-align: center;
        line-height: 38px;
        float: right;
        margin-right: 20px;
        cursor: pointer;

        &:hover {
            background: #fff;
            border: 1px solid #a5a5a5;
        }
    }

    .btn {
        display: inline-block;
        margin-bottom: 0px;
        font-weight: bold;
        text-align: center;
        vertical-align: middle;
        cursor: pointer;
        padding: 6px 12px;
        user-select: none;
        background-color: #0099f1;
        width: 340px;
        color: #fff;
        font-size: 16px;
        border-radius: 3px;
    }

    .logo_login {
        p {
            margin-top: 10px;
            line-height: 24px;
            color: #5e5e5e;
        }

        a {
            line-height: 24px;
            color: #a5a5a5;
            text-indent: -9999px;
        }

        .a_yhd,
        .a_zfb,
        .a_qq,
        .a_sina,
        .a_wlt,
        .a_wy {
            background: url(../img/reglogin/img_zhifu.png) no-repeat left top;
            display: block;
            float: left;
            height: 39px;
            margin-right: 18px;
            width: 39px;

            &:hover {
                background-position-y: -52px;
            }
        }

        .first {
            padding-left: 0px;
        }

        .last {
            border-right: 0;
        }

        .a_yhd {
            background-position: 0 0;
        }

        .a_zfb {
            background-position: -48px 0;
        }

        .a_qq {
            background-position: -95px 0;
        }

        .a_sina {
            background-position: -143px 0;
        }

        .a_wlt {
            background-position: -241px 0;
        }


        .a_wy {
            background-position: -191px 0;
        }


    }