.floor {
    position: fixed;
    z-index: 99;
    right: 50%;
    display: none;
    margin-right: 600px;
}

.floor .xsg {
    display: block;
    width: 48px;
    border: 1px solid #E6E6E6;
    border-bottom: none;
    text-align: center;
    color: #157cdb;
    padding: 5px 0;
}

.floor ul {
    overflow: hidden;
}

.floor .floor_nav {
    cursor: pointer;
    height: 40px;
    line-height: 40px;
    overflow: hidden;
    text-align: center;
    width: 48px;
    border: 1px solid #E6E6E6;
    border-bottom: none;
    background-color: #fff;
    position: relative;
}

.floor .last {
    border-bottom: 1px solid #E6E6E6;
}

.floor_title {
    display: none;
    position: absolute;
    left: 0;
    top: 0;
    font-size: 14px;
    text-decoration: none;
    color: #fff;
    line-height: 17px;
    padding: 3px 5px;
    background: #157CDB;
}