.body{
    width: 100%;
    height: 100%;
}
footer {
  width: 100%; 
  font-size: 12px;
}
.footer_simple{
    padding: 30px 0 20px 0;
    color: #a5a5a5;
    text-align: center;
    line-height: 26px;
}
.copy_ifno a{
    color:#999;
}
footer a {
    color: #a5a5a5;
    margin:0 4px;
    display: inline-block;
}

footer a:hover {
    color: #5a5a5a;
    text-decoration: underline;
}

.copy_ico {
    width: 20px;
    height: 20px;
    background: url(../img/reglogin/copy_ico.png) no-repeat 0px 0px;
    position: relative;
    top: 5px;
}